
body {
    padding-top: 75px;
    margin-top: 5px;
}

/* HEADER */

.navbar-header {
	height: 75px;
}

.container-header {
	padding: 0 25px;
	margin-right: 0px; 
	height: 100%;
}

.navbar-brand {
	height: 100%; 
	padding: 0; 
	display: block; 
	float: left;
}

.logo {
	max-height: 100%; 
	max-width: 100%;
}

/* Suchleiste */

.navbar-form {
	width: 720px;
	height: 100%;  
	padding: auto 20px; 
	margin: 0px; 
	position: relativ;
}

.searchbar {
	width: 50%;
	padding: 0; 
	margin: 0; 
	position: absolute; 
	top: 20%; 
}

.profilbutton {
	position: absolute;
	margin:0; padding:0;
	float: right;
	top: 12px;
	right: 120px;
	
    width: 5rem;
    height: 5rem; 
    border-radius: 50%;
    border: solid 0.5px grey;
    /* Background image muss noch angezeigt werden */
    background-image: url("../img/Profilbild.jpg");
    background-position: center;
    background-size: contain;
    cursor: pointer;
    
    transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -webkit-transition: all 100ms ease;
    -o-transition: all 100ms ease;
}

.button-anzeige {
	position: absolute;
	padding: -6px;
	float: right;
	top: 25%;
	right: 260px;
}

.profilbutton:hover {
    -moz-transform: translate(0, -1.5px);
    -webkit-transform: translate(0, -1.5px);
    -o-transform: translate(0, -1.5px);
    transform: translate(0px, -1.5px);
}

.button:active {
	width: 50%;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.border {
	border: 1px solid black;
}