body {
    margin-top: 75px;
}

.container-body {
		padding: 0 7px 9px 7px;
		margin: 7px 0 7px 0;
		background-color: #f3f3f3;
		border-radius: 5px;
		border: 1px solid #e3e3e3;
    	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.19);		
}

.container-body:hover {
	border: 1px solid #b1b1b1;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.19);
}

#container-body-startseite {
	padding: 10px 8px 4px 8px;
}

/* KOPFZEILE */

.navbar {
	position: absolute;
}

.navbar:hover {
	border-bottom: 1px solid #c1c1c1;
}

.navbar-header {
	height: 75px;
}

.container-header {
	padding: 0px 25px;
	margin-right: 0px; 
	margin-top: 2px;
	height: 100%;
}

.navbar-brand {
	height: 100%; 
	padding: 0; 
	display: block; 
	float: left;
}

.logo {
	max-height: 100%; 
	max-width: 100%;
}

.logo:hover {
    -moz-transform: translate(0, -1.5px);
    -webkit-transform: translate(0, -1.5px);
    -o-transform: translate(0, -1.5px);
    transform: translate(0px, -1.5px);
}

.logo:active {
	border-radius: 4px;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.19);
	border: solid 0.5px darkgrey;
}

#modal-registrieren {
	 width: 800px; 
	 margin: 0 auto;
}

#dropdown-css {
	border: 1px solid #e3e3e3;
	margin: -7px 0 12px 0; 
	background-color: #e3e3e3;
}

/* SUCHLEISTE */

.navbar-form {
	max-width: 720px;
	height: 100%;  
	padding: auto 20px; 
	margin: 0px; 
}

.searchbar {
	width: 50%;
	padding: 5px 0 5px 0; 
	margin: 0; 
	position: absolute; 
	top: 20%; 
}

#profilbutton-class {
	position: absolute;
	margin:0; padding:0;
	float: right;
	top: 12px;
	right: 120px;
} 

.profilbutton {
    width: 5rem;
    height: 5rem; 
    border-radius: 50%;
    border: solid 0.5px grey;
    
    /*background-image: url("../img/Profilbild2.jpg");*/
    background-image: url("../img/Flash.jpg");
    background-position: center;
    background-size: cover;
    
    cursor: pointer;
    transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -webkit-transition: all 100ms ease;
    -o-transition: all 100ms ease;
}

.profilbutton:active, .button-anzeige:active, .logo:active {
	border: solid 0.5px darkgrey;
}

.profilbutton:hover, .button-anzeige:hover {
    -moz-transform: translate(0, -1.5px);
    -webkit-transform: translate(0, -1.5px);
    -o-transform: translate(0, -1.5px);
    transform: translate(0px, -1.5px);
}

.profilbutton {
	opacity: 0.7;
}

.profilbutton:hover, .profilbutton:active {
	opacity: 1;
}

.button-anzeige {
	position: relative;
	padding: -6px;
	float: right;
	padding: auto;
	margin-top: 20px;
	margin-right: 15px;
}

.profilbild {
	margin: 5px 0 0 6px;
	width: 50px;
	height: 50px;
    border-radius: 50%;
    border: solid 0.5px grey;
    
    background-image: url("../img/Profilbild2.jpg");
    background-position: center;
    background-size: cover;	
}

/* STARTSEITE */

#thumbnail-body:hover {
	border: 1px solid #c1c1c1;
}

/* ARTIKELSEITE */

.carousel-artikel {
	width: 600px;
}

/* BENUTZERSEITE */

#artikelbild-benutzer {
	 width: 85%; 
	 border-radius: 12px; 
	 border: 1px solid grey"
}

#profilbild-benutzer {
	 width: 65%; 
	 border-radius: 50%; 
	 border: 1px solid grey;"
}

#benutzerseite {
	 padding: 15px 0 20px 0;
}

#verkauferartikel-benutzer {
	padding: 0 7px 9px 7px;
	margin: 7px 0 7px 0;
}

/* ARTIKEL VERKAUFEN */

#table-description {
	font-size: medium;
}

/* SUCHE-SEITE */
#suche-artikelbild {
	width: 80%; 
	text-align: center; 
	border-radius: 5px;
}

.suchergebnis {
	padding: 10px 5px;
	margin-bottom: 10px;
	border: 1px solid #c1c1c1;
	border-radius: 3px;
}
.suchergebnis:hover {
	border: 1px solid #909090;
}

#sucheseite-sortieren {
	
}

#artikel-suche-suchleiste {
	 padding-top: 15px; 	
}

/*  */

.artikel-beschreibung {
	text-align: justify;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
    max-height: 500px;
    max-width: 500px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
	width: 320px;
	height: 250px;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
	margin: 50px 0 0 0;
	background-color: #c0c0c0;
}

#footer {
    padding: 25px 0 15px 0;
}

.border {
	border: 1px solid black;
}